name: Build
on:
  workflow_run:
    workflows: ["Prebuild"]
    branches: [master]
    types:
      - completed

jobs:
  docker-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Server Image
        uses: docker/build-push-action@v5
        with:
          context: ./packages/server
          file: ./packages/server/docker/Dockerfile
          push: true
          tags: vinhngo1999/v-course-manager-server:latest
